*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
  }
  
  body {
      
      display: flex;
      flex-direction: column;
      background-color: #f8f9fa;
      padding: 20px;
      margin-top: 5vh;
      
  
      
  }
  
  .contenedor1{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

  
  }
  
  .head{
      display: flex;
      flex-direction: column;
      margin-left: 5%;
     
  }
  
  h2{
      color: purple;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    padding-left: 35px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 50%;
    background-image: url(../img/libro-abierto-con-lupa.png); 
    background-repeat: no-repeat;
    background-position: 10px center; 
    background-size: 20px; 

  }

input {
    margin-top: 1%;
}

  
  @media only screen and (max-width: 767px){
    .search-bar input {
      padding: 10px;
      padding-left: 35px; 
      border: 1px solid #ddd;
      border-radius: 8px;
      width: 100%;
      background-image: url(../img/libro-abierto-con-lupa.png); 
      background-repeat: no-repeat;
      background-position: 10px center; 
      background-size: 20px; 
  
    }



  }


  .icon-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: #333333;
      background: #dddddd;
      border: none;
      outline: none;
      border-radius: 50%;
    }
    
    .icon-button:hover {
      cursor: pointer;
    }
    
    .icon-button:active {
      background: #cccccc;
    }
    
    .icon-button__badge {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      background: red;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  
  .notifications{
      display: flex;
      justify-content: space-between;
  
  }
  .imagen1{
      display: flex;
      width: 40px;
      height: 40px;
  }

.carousel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 60%;
  

  & > .carousel-item {
    flex: 1;
    /* flex-grow: 1; */
    min-width: 40%;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 767px){
  .carousel {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100%;
    overflow-x: scroll;
  
    & > .carousel-item {
      flex: 1;
      /* flex-grow: 1; */
      min-width: 40%;
      background-color: purple;
      margin: 0 5px;
    }
  }

}


.carousel-item{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

.carousel-item:nth-child(1) {
  background-color: rgba(128, 0, 128, 0.1) 
  ; 
}

.carousel-item:nth-child(2) {
  background-color: rgba(255, 255, 0, 0.1) 
  ; 
}

.carousel-item:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.1) ; 
}

.carousel-item:nth-child(4) {
  background-color: rgba(0, 255, 0, 0.1) 
  ; 
}




@media only screen and (max-width: 767px){

  .carousel2 {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    overflow-x: scroll;
    
  
    & > .carousel-items2{
      display: flex;
      padding: 2px;
      border-radius: 20px;
  
    }
  }

  .carousel-items2 img{
    border-radius: 10px;
    margin: 2%;
    width:50vh;
    height:27vh;
  
  }

}

@media only screen and (min-width: 767px){

  .carousel2 {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    
  
    & > .carousel-items2{
      display: flex;
      padding: 10px;
      border-radius: 20px;
  
    }
  }
  .carousel-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2px;
    border-radius: 10px;
  }
  
  .carousel-items2 img{
    border-radius: 10px;
    margin: 1%;
    width:60vh;
    transition: transform 0.3s ease; 
  }

  .carousel-items2 img:hover {
    transform: scale(1.1); 
  }
  
}

.text{
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 5%;
  font-style: normal;
}


@media only screen and (max-width: 767px){

  .carousel3 a{
    text-decoration: none;

  }

  .carousel3 {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
  }
  
  .carousel-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    min-width: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .carousel-item3 img {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .carousel-item3:hover {
    transform: scale(1.05);
  }
  
  .event-details {
    padding: 10px;
    text-align: center;
  }
  
  .event-details h3 {
    font-size: 16px;
    margin: 10px 0 5px;
    color: black;
  }
  
  .event-details p {
    font-size: 14px;
    color: #555;
    margin: 2px 0;
  }
  

}

@media only screen and (min-width: 767px){

  .carousel3 a{
    text-decoration: none;

  }

  .carousel3 {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding: 20px;
  }
  
  .carousel-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50vh;
    min-width: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .carousel-item3 img {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .carousel-item3:hover {
    transform: scale(1.05);
  }
  
  .event-details {
    padding: 10px;
    text-align: center;
  }
  
  .event-details h3 {
    font-size: 16px;
    margin: 10px 0 5px;
    color: black;
  }
  
  .event-details p {
    font-size: 14px;
    color: #555;
    margin: 2px 0;
  }
  
  
}

.imagep{
  display: flex;
  gap: 3vh;

}

.imagep img{
  width: 2vh;
  
}